body {
    font-family: "Montserrat", sans-serif;
    color: #444;
}

/* Custom ScrollBar*/
::-webkit-scrollbar {
    width: 7px;
    background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: white; */
    border-radius: 4px;
    height: 20px;
    background: #00c6ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2082e4;
}


/* general Styles */
hr{
    color: #39f;
}
a{
    text-decoration: none;
    color: white;
}
i,p,h1,h2,h3,h4,h5,h6{
    color: white;
}

/* #2082e4  #39f*/
/* font-family: 'Montserrat', sans-serif; 
/*colors  #39f  #2082e4*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 100px;
    background: #39f;
    line-height: 50px;
    color: #fff;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    float: left;
}