*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background: rgb(231, 245, 248);
}
.sign-1{
    margin: auto;
    margin-top: 100px;
    box-sizing: border-box;
    z-index: 1;
    border: 2px solid #39f;
    border-radius: 6px;
    width: 550px;
    height: 100vh auto;
    padding: 1.6em;
}
.sign-1 h1 ,.sign-1 p ,h4{
    text-align: center;
    color: #2082e4;
    margin-top: 10px;
    margin-bottom: 1em;
}
input[type='text'],input[type='password'],input[type='email']{
    border: none;
    outline: none;
    border-bottom: 2px solid #2082e4;
    width: 90%;
    margin: 1em;
    color: blue;
    background: rgb(231, 245, 248);
    font-size: 14px;
}
input[type='checkbox']{
    margin: 1em;
}
input[type='submit']{
    outline: none;
    border: none;
    background: #2082e4;
    color: white;
    padding: 8px;
    width: 60%;
    border-radius: 20px;
    margin-left: 25%;
}
@media(max-width:600px){
    .sign-1{
        width: auto;
        height: auto;
        border: none;
    }
}